.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #263043;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content button {
  margin-top: 20px;
}
.close-icon {
  font-size: 20px;
  background-color: #263043;
  margin-left: 480px;
  margin-top: -5px;
}
.close-icon:hover {
  background-color: #4c5566;
  border-radius: 16px;
}
